target/
project/project/
project/target/
.bsp/
.idea/
.idea/codeStyles/
.idea/libraries/
.idea/modules/
.idea/sonarlint/
.bloop/
.bloop/root/
.bloop/root/bloop-bsp-clients-classes
.bloop/root/bloop-internal-classes
.bloop/root/scala-2.13
.metals/
.vscode/
.postgres-data/
